

{% block contents %}
<div id="f">
  <div class="container">
    <div class="container">
      <a href="https://www.youtube.com/channel/UCqXRdQDTh1aeInEx_svRj8A?view_as=subscriber"><i class="fa fa-youtube"></i></a><a href="https://vk.com/idkatekoval"><i class="fa fa-vk"></i></a></a>
</div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
  <div id="copyrights">
    <div class="container">
      <p>
        &copy По следам вепсской культуры, 2020.
      </p>
      <div class="credits">


      </div>

      <div class="container">
      <img src="/static/img/rosmol.png"  width=110 height=130>  <img src="/static/img/minobr.png"  width=180 height=180>
      </div>
      </div>

      </div>

{% endblock %}
