
{% block content %}
<header>
  <nav>
    <ul class="topmenu">
      <li><a href="/">Главная</a></li>
      <li><a href="/news">Новости</a></li>
      {% if user.is_authenticated %}
      <li><a href="" class="down">Задания</a>
        <ul class="submenu">
          <li><a href="/taskone">Задание 1</a></li>
          <li><a href="/tasktwo">Задание 2</a></li>
          <li><a href="/taskthree">Задание 3</a></li>
          <li><a href="/taskfour">Задание 4</a></li>
          <li><a href="/taskfive">Задание 5</a></li>
          <li><a href="/tasksix">Задание 6</a></li>
        </ul>
      </li>
      {% endif %}
      <li><a href="/kriteri">Критерии оценивания</a></li>
      <li><a href="/contact">Контакты</a></li>
      {% if user.is_authenticated %}

              <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                  <h4> {{ user.first_name }}!</h4>
                <button type="submit" class="btn btn-danger btn-lg">Выход</button>
              </form>

            {% else %}
      <a class="btn btn-outline-primary" href="/accounts/login">Войти</a>
  <a class="btn btn-outline-primary" href="/accounts/signup">Регистрация</a>
  {% endif %}
  <br>
    </ul>

  </nav>


</header>
<br>
<div class="box-shadow" id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="blurryText ">Web-квест <b>по вепcской культуре</b></h1>
          <h2></h2>
</div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- headerwrap -->


<br>

{% endblock %}
